.footer-container {
    display: none; /* Hide footer by default */
  }
  
  @media (max-width: 768px) { /* Apply styles only for small screen sizes */
    .footer-container {
      display: block; 
      position: fixed; 
      bottom: 10px; 
      left: 0;
      width: 100%;
      height: 3%;
      background-color: #ffffff; 
      border-top: 1px solid #cccccc; /* Example border */
      padding: 10px 20px;
    }
    .bottom-navigation {
        display: flex;
        justify-content: space-between;
        padding: 10px 20px; /* Example padding */
        list-style-type: none;
        margin: 0;
      }
  }

  .bottom-navigation {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px; /* Example padding */
    list-style-type: none;
    margin: 0;
  }
  
  .bottom-navigation li {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .bottom-navigation li .nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #333333; /* Example text color */
  }
  
  .bottom-navigation li .nav-link span {
    font-size: 12px; /* Example font size */
  }
  
  @media (max-width: 768px) {
    .footer-container {
      padding: 10px; /* Adjust padding for smaller screens */
    }
  
    .bottom-navigation {
      justify-content: space-around; /* Change alignment for smaller screens */
    }
  }
  