.main-page>.task-title{
    font-size: 26px;
    padding: 1rem 0.5rem;
    /* color: #1111; */
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.all_task{
    display: flex;
    align-items: center;
}

.all_task > .all_task_tab {
    display: flex;
    align-items: center;
    margin: 0 10px;
    font-size: 16px;
    font-weight: 600;
    color: #666565;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid #666565;
    padding: 5px 10px;
    border-radius: 10rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  .footer-container {
    position: sticky;
    bottom: 0;
    z-index: 1000; 
  }

  .floating-button {
    /* position: fixed;  */
    bottom: 20px; /* Adjust as per your requirement */
    right: 45%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #007bff; /* Example color */
    color: white;
    font-size: 24px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    text-align: center;
  }

  .footercss{
    position: fixed;
    overflow: none;
  }
  
