.desplaynone{
    display: block;
    
}
.d-sm-none{
    display: block;
}
@media only screen and (max-width: 600px) {
    .desplaynone{
        display: none;
    }
    .d-sm-none{
        display: none;
    }
  }